<div *ngIf="loadingComplete === true" class="captcha-grid" >
    <p>Select all the photos that contain {{captchaData.targetDog}}.</p>
    <app-captcha-tile 
        *ngFor='let doggo of doggos'
        imageUrl={{doggo.url}} 
        match={{doggo.match}} 
        label={{doggo.label}}
        [updateScoreCallback]="guessCallback.bind(this)"
        gameComplete={{gameComplete}}
        ></app-captcha-tile>
    <button (click)="finishGame()" layout-align="center">Submit</button>
    <div *ngIf="gameComplete === true" class="score">
        Your score: {{score}}
    </div>
</div>
<div *ngIf="!loadingComplete" class="loading">
    <h4> Loading your captcha. Meanwhile enjoy this gif!</h4>
    <img src="https://thumbs.gfycat.com/SolidHiddenAmericancrow-size_restricted.gif">
</div>