<section *ngIf="loadingComplete === true" class="captcha-grid" >
    <p>Select all the photos that contain {{captchaData.targetDog}}.</p>
    <app-captcha-tile 
        *ngFor='let doggo of doggos'
        imageUrl={{doggo.url}} 
        [match]="doggo.match" 
        label={{doggo.label}}
        [updateScoreCallback]="guessCallback.bind(this)"
        [gameComplete]="gameComplete"
        ></app-captcha-tile>
    <button *ngIf="gameComplete === false" (click)="finishGame()" layout-align="center">Submit</button>
    <button *ngIf="gameComplete === true" (click)="resetGame()" layout-align="center">Play Again</button>
    <div *ngIf="gameComplete === true">
        <p class="score">Your score: {{score}} out of 9</p>
        <div class="confusion-grid">
            <p class="guess">Your guess:</p>
            <p class="actual">Actual:</p>
            <p class="guess-target">{{captchaData.targetDog}}</p>
            <p class="guess-other">{{otherDog()}}</p>
            <p class="actual-target">{{captchaData.targetDog}}</p>
            <p class="actual-other">{{otherDog()}}</p>
            <div class="confusion-matrix">
                <div class = "correct">{{confusionMatrix.truePos}} ({{getPercentage(confusionMatrix.truePos,matchCount())}}%)</div>
                <div class = "incorrect">{{confusionMatrix.falsePos}} ({{getPercentage(confusionMatrix.falsePos,9 - matchCount())}}%)</div>
                <div class = "incorrect">{{confusionMatrix.falseNeg}} ({{getPercentage(confusionMatrix.falseNeg, matchCount())}}%)</div>
                <div class = "correct">{{confusionMatrix.trueNeg}} ({{getPercentage(confusionMatrix.trueNeg, 9 - matchCount())}}%)</div>
            </div>
        </div>
    </div>
</section>
<section *ngIf="!loadingComplete" class="loading">
    <h4> Loading your captcha.</h4>
    <img class="loading-circle" src="assets/images/loading.gif">
</section>