:host
  display: grid
  text-align: center

.captcha-grid
    margin: 10%

h4, p, button, .score
  font-family:"Montserrat"

.confusion-grid
    display: grid
    .actual
        display: inline-block
        margin-right: 10px
        grid-row: 3/5
        grid-column: 1
    .guess
        grid-row: 1
        grid-column: 3/5
    .guess-target
        grid-row: 2/3
        grid-column: 3/4
    .guess-other
        grid-row: 2/3
        grid-column: 4/5
    .actual-target
        grid-row: 3/4
        grid-column: 2/3
        margin-right: 10px
    .actual-other
        grid-row: 4/5
        grid-column: 2/3
        margin-right: 10px
.confusion-matrix  
    grid-row: 3/5
    grid-column: 3/5
    margin: auto
    div
        display: inline-block
        width: 40%
        padding: 5%
        font-family: helvetica

.incorrect
    background-color: yellow

.correct
    background-color: lightblue

.loading
    margin: auto
    text-align: center
    
.loading-circle
    height: 50px
    margin: 20px auto
    display: block

.loading img
    max-width:60vw

button 
    display: block
    border: none
    padding: 1rem 2rem
    margin: 20px auto
    text-decoration: none
    background: #0069ed
    color: #ffffff
    font-family: sans-serif
    font-size: 1rem
    cursor: pointer
    text-align: center

