<div *ngIf="loadingComplete === true" class="captcha-grid" >
    <p>Select all the photos that contain {{captchaData.targetDog}}.</p>
    <app-captcha-tile 
        *ngFor='let doggo of doggos'
        imageUrl={{doggo.url}} 
        [match]="doggo.match" 
        label={{doggo.label}}
        [updateScoreCallback]="guessCallback.bind(this)"
        [gameComplete]="gameComplete"
        ></app-captcha-tile>
    <button *ngIf="gameComplete === false" (click)="finishGame()" layout-align="center">Submit</button>
    <button *ngIf="gameComplete === true" (click)="resetGame()" layout-align="center">Play Again</button>
    <div *ngIf="gameComplete === true" class="score">
        Your score: {{score}}
    </div>
</div>
<div *ngIf="!loadingComplete" class="loading">
    <h4> Loading your captcha.</h4>
    <img class="loading-circle" src="assets/images/loading.gif">
</div>