img
    display: block
    max-width: 70vw
    margin: 10px auto
    
.iframe-container
  overflow: hidden
  padding-top: 56.25%
  position: relative
  iframe 
        border: 0
        height: 100%
        left: 0
        position: absolute
        top: 0
        width: 100%
        
    
h1.title  
  font-size: 2.5rem
  display: block
  text-align: center
  margin: 0 auto
  text-align: center
  max-width: 60vw

h1, h2, p
    font-family: "Montserrat"

article
    max-width: 70vw
    margin: 0 auto