
img
    display: block
    max-width:70vw
    margin: 10px auto
    
    
h1.title  
  font-size: 2.5rem
  display: block
  text-align: center
  margin: 0 auto
  text-align: center
  max-width: 60vw

h1, h2, p
    font-family: "Montserrat"

article
    max-width: 70vw
    margin: 0 10%