.result-header
    display: grid
    font-family: "Montserrat"
    .image
        grid-column: 1
        margin: auto
        width: 60%
    .guess
        grid-column: 2
        margin: auto
        width: 60%
    .ml-guess
        grid-column: 3      
        margin: auto
        width: 60%
    .actual
        grid-column: 4
        margin: auto
        width: 60%

h4
    font-family: "Montserrat"

app-image-result
    margin: 10px 0