.result-header
    display: grid
    grid-template-columns: repeat(4, 1fr)
    font-family: "Montserrat"
    font-size: .9rem
    padding-bottom: 30px
    border-bottom: 1px solid grey
    .image
        grid-column: 1
        margin: auto

    .guess
        grid-column: 2
        margin: auto

    .ml-guess
        grid-column: 3      
        margin: auto
 
    .actual
        grid-column: 4
        margin: auto


h4
    font-family: "Montserrat"

app-image-result
    margin: 10px 0
    