.prediction-row
    display: grid
    img
        grid-column: 1
        height: 10vw
        width: 10vw
        margin: auto
    .conf-scores
        grid-column: 2/3
        font-family: helvetica
        margin: 20px
