.correct
    background-color: lightgreen
.incorrect
    background-color: #FFBEBE
.prediction-row
    display: grid
    grid-template-columns: repeat(4, 1fr)
    font-family: "Montserrat"
    font-size: .8rem
    
    img
        height: 10vh
        width: 10vh

    .img-container
        grid-column: 1
        text-align: center
    .guess
        grid-column: 2
        text-align: center
    .conf-scores
        grid-column: 3      
        text-align: center
        p.score
            text-align: left

    .actual
        grid-column: 4
        text-align: center

    