img 
    height: 20vw
    width: 20vw
    margin: 5px

.tile
    display: inline-block

.selected
    -webkit-filter: opacity(.2)
    filter: opacity(.2)

.not-selected
    -webkit-filter: opacity(1)
    filter: opacity(1)

.correct
    background: green

.incorrect
    background: red